<h5>Experience</h5>

<article>
  <header>
    <h3>Lead Designer, Lead Software Engineer, Product Lead, First Hire<span class="subdued">Aptible (YC S14)</span></h3>
    <h4>May 2014-Present</h4>
  </header>

  <p>
    Aptible is a Docker-based container orchestration platform and SaaS tool built to solve the technical and administrative aspects of complying with complex standards (ISO) or regulations (HIPAA).  As the first hire, I've helped provide leadership for all aspects of the company. As Lead Designer, I provide visual and UI designs for our products and our marketing site (<a href="https://www.aptible.com">www.aptible.com</a>).  As Lead Software Engineer and Product Lead, I lead a team of engineers and compliance experts helping to build Gridiron, our Information Security Management System (ISMS) SaaS offering.
  </p>

  <ul class="work-items">
    <li>
      Designed and developed learning management system capable of generating customer-specific training content based on thousands of customer attributes. This system is used to automate thousands of manual training courses and make proof-of-compliance fast and easy.
    </li>
    <li>
      Designed and developed NIST 800-30 risk assessment engine, capable of quantifying and prioritizing thousands of risks across hundreds of information assets. Built using JSON Schema, Ruby on Rails, and Ember.js.
    </li>
    <li>
      Designed elegant user interfaces that make Docker-based container orchestration simple and easy to understand.
    </li>
    <li>
      Lead design and engineering for SaaS product that makes managing a secure Information Security Management System (ISMS) fast and easy.
    </li>
    <li>
      Engineered system for schema-driven UI generation using custom-built Ember CLI add-ons that parse JSON Schema schemata into fully-validatable UI controls. This system is used to allow non-technical subject matter experts to expand the core data model without engineering effort.
    </li>
    <li>
      Designed and developed billing system for container orchestration PaaS, including metered/unit billing, subscription billing, and billing management dashboard using Stripe, Ruby on Rails, and Ember.js.
    </li>
  </ul>
</article>

<article>
  <header>
    <h3>Lead Designer and Software Engineer <span class="subdued">Independent Consultant</span></h3>
    <h4>June 2010-May 2014</h4>
  </header>

  <p>
    For four years I ran an independent consultancy, Foundry Inc. While at Foundry Inc., I worked with big brands like Facebook, Eli Lilly, Salesforce, Intuit, and Oracle to design and ship world-class products.
  </p>

  <ul class="work-items">
    <li>
      Improved Facebook's sales process by designing and developing a drag-and-drop video-editing tool using Ember.js, Node.js, AWS S3, and the Facebook and Animoto APIs.
    </li>
    <li>
      Led visual and UX redesign of Compendium, a content marketing suite (now Oracle).
    </li>
    <li>
      Brought open source-like collaboration to pharmaceutical asset management at Eli Lilly by leading design and engineering of a git-based asset management system using Angular.js, Ruby, Sinatra, S3, and GitHub API.
    </li>
    <li>
      Helped Facebook feature their most popular brand pages by developing a user-contributed content site using Wordpress and PHP.
    </li>
    <li>
      Led frontend engineering for two Backbone.js-backed single page applications, helping Salesforce Marketing Cloud launch into the mobile marketing channel.
    </li>
    <li>
      Revitalized Intuit's Quicken 2011 desktop experience by improving the visual and UI design.
    </li>
  </ul>

  <div class="references">
    <div class="reference-item reference-item--contracted">
      <div class='reference-item__avatar'>
        <img src="/images/testimonials/d.jpg" />
      </div>
      <div class="reference-item__body">
        <div class="reference-item__meta">
          Dustin McCormick - ExactTarget (Salesforce Marketing Cloud)
        </div>
        <div class="reference-item__excerpt">
          &ldquo;I saw high-quality output from him consistently, and he'd often surprise me with something completely groundbreaking that he'd whipped up on a whim.&rdquo;
        </div>
        <div class="reference-item__full">
          <p>
            &ldquo;Skylar trained me as part of my onboarding with ExactTarget and I went on to work with him closely over the next couple of years. As my trainer and peer, Skylar was always very approachable and has a knack for explaining complex systems in a comprehensible manner. As an engineer I collaborated with regularly across teams, Skylar was a skilled communicator. This made working with him almost effortless. As for his engineering chops, he's simply top notch. I saw high-quality output from him consistently, and he'd often surprise me with something completely groundbreaking that he'd whipped up on a whim.
          </p>
          <p>
            Between his personable, approachable demeanor and unmatched technical skills, I'd recommend Skylar for any role in technology.&rdquo;
          </p>
        </div>
        <div class="reference-item__controls">
          <div class="reference-item__control reference-item__expand">
            READ MORE
          </div>
          <div class="reference-item__control reference-item__contract">
            COLLAPSE
          </div>
        </div>
      </div>
    </div>

    <div class="reference-item reference-item--contracted">
      <div class='reference-item__avatar'>
        <img src="/images/testimonials/j.jpg" />
      </div>
      <div class="reference-item__body">
        <div class="reference-item__meta">
          Ji Lee - Facebook
        </div>
        <div class="reference-item__excerpt">
          &ldquo;Skylar is trustworthy, hard-working, expert on his subject and overall super nice guy.&rdquo;
        </div>
        <div class="reference-item__full">
          <p>
            &ldquo;Skylar is trustworthy, hard-working, expert on his subject and overall super nice guy. I've worked with Skylar on several projects and he always delivered his job, and went beyond. Of all developers I've worked in the past, Skylar has been one of my favorite guys. I highly recommend him.&rdquo;
          </p>
        </div>
        <div class="reference-item__controls">
          <div class="reference-item__control reference-item__expand">
            READ MORE
          </div>
          <div class="reference-item__control reference-item__contract">
            LESS
          </div>
        </div>
      </div>
    </div>

    <div class="reference-item reference-item--contracted">
      <div class='reference-item__avatar'>
        <img src="/images/testimonials/jl.jpg" />
      </div>
      <div class="reference-item__body">
        <div class="reference-item__meta">
          Jason Leubke - ExactTarget(Salesforce Marketing Cloud)
        </div>
        <div class="reference-item__excerpt">
          &ldquo;Skylar is the most talented UI/Javascript developer that I have ever had the pleasure of working with&rdquo;
        </div>
        <div class="reference-item__full">
          <p>
            &ldquo;Skylar is the most talented UI/Javascript developer that I have ever had the pleasure of working with. He was on top of every aspect of the application, and was always looking for ways to improve efficiency, the development process and the end product. I would jump at the chance to work with Skylar in the future.&rdquo;
          </p>
        </div>
        <div class="reference-item__controls">
          <div class="reference-item__control reference-item__expand">
            READ MORE
          </div>
          <div class="reference-item__control reference-item__contract">
            COLLAPSE
          </div>
        </div>
      </div>
    </div>

    <div class="reference-item reference-item--contracted">
      <div class='reference-item__avatar'>
        <img src="/images/testimonials/ja.jpg" />
      </div>
      <div class="reference-item__body">
        <div class="reference-item__meta">
          Jon Arnold - Tuitive
        </div>
        <div class="reference-item__excerpt">
          &ldquo;Skylar is that rare design professional who brings beautiful aesthetics, deep technical abilities, and a warm, constructive demeanor to every project.&rdquo;
        </div>
        <div class="reference-item__full">
          <p>
            &ldquo;Skylar is that rare design professional who brings beautiful aesthetics, deep technical abilities, and a warm, constructive demeanor to every project.&rdquo;
          </p>
        </div>
        <div class="reference-item__controls">
          <div class="reference-item__control reference-item__expand">
            READ MORE
          </div>
          <div class="reference-item__control reference-item__contract">
            COLLAPSE
          </div>
        </div>
      </div>
    </div>

    <div class="reference-item reference-item--contracted">
      <div class='reference-item__avatar'>
        <img src="/images/testimonials/jg.jpg" />
      </div>
      <div class="reference-item__body">
        <div class="reference-item__meta">
          Jeremy Gustrowsky - Sogeti
        </div>
        <div class="reference-item__excerpt">
          &ldquo;Skylar is the Jedi Master of UI development. He has superior knowledge of all facets of user interface design on the web and can help you get a design from the whiteboard, to a Photoshop mock-up, to a working HTML page complete with dynamic content faster than anyone I've seen.&rdquo;
        </div>
        <div class="reference-item__full">
          <p>
            &ldquo;Skylar is the Jedi Master of UI development. He has superior knowledge of all facets of user interface design on the web and can help you get a design from the whiteboard, to a Photoshop mock-up, to a working HTML page complete with dynamic content faster than anyone I've seen. His depth of knowledge gives him an excellent feel for what works on the web and what doesn't from a user's perspective. Furthermore, he is very personable, patient, easy to work with, and always willing to lend helpful advice and constructive criticism. Not only does he excel in producing outstanding UI designs, he makes everyone on the team better in the process. It is a privilege to work with him in any capacity. If you're looking for a first rate user interface developer, you need not look any further.&rdquo;
          </p>
        </div>
        <div class="reference-item__controls">
          <div class="reference-item__control reference-item__expand">
            READ MORE
          </div>
          <div class="reference-item__control reference-item__contract">
            COLLAPSE
          </div>
        </div>
      </div>
    </div>

    <div class="reference-item reference-item--contracted">
      <div class='reference-item__avatar'>
        <img src="/images/testimonials/ps.jpg" />
      </div>
      <div class="reference-item__body">
        <div class="reference-item__meta">
          Prashant Sugand - DesignSVN
        </div>
        <div class="reference-item__excerpt">
          &ldquo;Skylar has proven to be one of the most talented professionals I've worked with.&rdquo;
        </div>
        <div class="reference-item__full">
          <p>
            &ldquo;Skylar has proven to be one of the most talented professionals I've worked with. His work is not only visually stunning but also demonstrates his skill, knowledge and expertise in his field. I look forward into maintaining our working relationship into the future and will by no doubt, hire Skylar again.&rdquo;
          </p>
        </div>
        <div class="reference-item__controls">
          <div class="reference-item__control reference-item__expand">
            READ MORE
          </div>
          <div class="reference-item__control reference-item__contract">
            COLLAPSE
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<article>
  <header>
    <h3>Designer and Frontend Software Engineer <span class="subdued">Salesforce Marketing Cloud</span></h3>
    <h4>April 2009-June 2010</h4>
  </header>
  <ul class="work-items">
    <li>
      Gathered requirements, developed product vision, and led UI design and development for an enterprise SaaS product.
    </li>
    <li>
      Led UI design and development of Salesforce-based back office ticket system.
    </li>
    <li>
      Designed and developed drag-and-drop in-browser document management system using jQuery, AJAX, and C#.
    </li>
  </ul>
  <div class="references">
    <div class="reference-item reference-item--contracted">
      <div class='reference-item__avatar'>
        <img src="/images/testimonials/m.jpg" />
      </div>
      <div class="reference-item__body">
        <div class="reference-item__meta">
          Molly Matchett - ExactTarget (Salesforce Marketing Cloud)
        </div>
        <div class="reference-item__excerpt">
          &ldquo;Skylar is an incredible User Interface Developer; however that title does not describe his full range of skills. He is also very skilled at dealing with clients and managing design iterations.&rdquo;
        </div>
        <div class="reference-item__full">
          <p>
            &ldquo;I had the pleasure of working on a team with Skylar at ExactTarget. Skylar is an incredible User Interface Developer; however that title does not describe his full range of skills. He is also very skilled at dealing with clients and managing design iterations. Clients can often be very particular about their preferences, Skylar handles feedback with intelligent and sensitive responses that help guide the client into smart decisions based on UI principles and not personal preference. Skylar’s dependability, creativity and sense of humor make working on team with him even more enjoyable. I would welcome the opportunity to work with Skylar again.&rdquo;
          </p>
        </div>
        <div class="reference-item__controls">
          <div class="reference-item__control reference-item__expand">
            READ MORE
          </div>
          <div class="reference-item__control reference-item__contract">
            COLLAPSE
          </div>
        </div>
      </div>
    </div>
    <div class="reference-item reference-item--contracted">
      <div class='reference-item__avatar'>
        <img src="/images/testimonials/mb.jpg" />
      </div>
      <div class="reference-item__body">
        <div class="reference-item__meta">
          Matt Britt - ExactTarget (Salesforce Marketing Cloud)
        </div>
        <div class="reference-item__excerpt">
          &ldquo;He is highly competent within his discipline and maintains a highly user centric focus which is key to this role.&rdquo;
        </div>
        <div class="reference-item__full">
          <p>
            &ldquo;Skylar is a true consummate professional! He is highly competent within his discipline and maintains a highly user centric focus which is key to this role. Skylar is a very self motivated and needs minimal supervision and is always eager to jump in and help where possible. He has been a pleasure to work with over the course of the last year!&rdquo;
          </p>
        </div>
        <div class="reference-item__controls">
          <div class="reference-item__control reference-item__expand">
            READ MORE
          </div>
          <div class="reference-item__control reference-item__contract">
            COLLAPSE
          </div>
        </div>
      </div>
    </div>
    <div class="reference-item reference-item--contracted">
      <div class='reference-item__avatar'>
        <img src="/images/testimonials/l.jpg" />
      </div>
      <div class="reference-item__body">
        <div class="reference-item__meta">
          Liz Farrelly - ExactTarget (Salesforce Marketing Cloud)
        </div>
        <div class="reference-item__excerpt">
          &ldquo;Skylar's User Interface work was an amazing enhancement to the site that I managed while we worked together.&rdquo;
        </div>
        <div class="reference-item__full">
          <p>
            &ldquo;
            Skylar's User Interface work was an amazing enhancement to the site that I managed while we worked together.
          </p>

          <p>His ingenuity and creative was what helped bring a lot of pieces together - but even more he was engrained in the best practices of both website design, social, and the future of web 2.0 (and beyond).
          </p>

          <p>He was handed a site that was built by print designers, and was able to make immediate impact just by cleaning it up slightly. It was refreshing to work with someone that was always learning, or bringing new insight to the way we could do things. He provided valuable insight/knowledge regarding both the design and technical aspects to people like me on the team (marketing focused, not technically focused).
          </p>

          <p>
          As a non-technical part of the team, I was truly impressed that he is both a graphic designer, and proficient in the web space/software engineering. I have hit many roadblocks where I truly needed 3 or 4 people to do one "project" on the site. I watched him both design and build functionality within the site that was just conceptual when I brought it into the meeting. Furthermore, his previous experience and background allowed him to truly build/design for a user - and not just to something that "seemed" like a good idea. These details were imperative as we attempted to make the experience more functional for the people that were logging in each and every day.
          </p>

          <p>It was phenomenal to watch and work with Skylar, and I would work with him again given any opportunity.&rdquo;</p>
        </div>
        <div class="reference-item__controls">
          <div class="reference-item__control reference-item__expand">
            READ MORE
          </div>
          <div class="reference-item__control reference-item__contract">
            COLLAPSE
          </div>
        </div>
      </div>
    </div>
    <div class="reference-item reference-item--contracted">
      <div class='reference-item__avatar'>
        <img src="/images/testimonials/t.jpg" />
      </div>
      <div class="reference-item__body">
        <div class="reference-item__meta">
          Tony Newcome - ExactTarget (Salesforce Marketing Cloud)
        </div>
        <div class="reference-item__excerpt">
          &ldquo;He has a command over HTML, CSS, JQuery, and JavaScript unlike anyone I have ever met.&rdquo;
        </div>
        <div class="reference-item__full">
          <p>
            &ldquo;Skylar is an outstanding User Interface Developer for ExactTarget. He has a command over HTML, CSS, JQuery, and JavaScript unlike anyone I have ever met. He is second to none and can turn an ugly, slow site into a classy, intuitive and performant beast in very little time. It has been a priviledge to work alongside Skylar - any firm, anywhere would greatly benefit from Skylar's design guidance and implementation savvy.&rdquo;
          </p>
        </div>
        <div class="reference-item__controls">
          <div class="reference-item__control reference-item__expand">
            READ MORE
          </div>
          <div class="reference-item__control reference-item__contract">
            COLLAPSE
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<article>
  <header>
    <h3>Frontend Engineer <span class="subdued">GiveReal</span></h3>
    <h4>June 2008-February 2009</h4>
  </header>

  <ul class="work-items">
    <li>
      Designed and developed Facebook canvas app using Ruby on Rails, FBML, CSS, and Javascript.
    </li>
  </ul>
</article>

<article>
  <header>
    <h3>Student Web Developer <span class="subdued">College of Science - Purdue University</span></h3>
    <h4>May 2006 - October 2008</h4>
  </header>

  <ul class="work-items">
    <li>
      Designed and developed dynamic sites for the College of Science at Purdue University.
    </li>
    <li>
      Designed and developed AJAX-driven database of invasive species for Purdue Entomology.
    </li>
  </ul>
  <div class="references">
    <div class="reference-item reference-item--contracted">
      <div class='reference-item__avatar'>
        <img src="/images/testimonials/i.jpg" />
      </div>
      <div class="reference-item__body">
        <div class="reference-item__meta">
          Isaac Vetter - Purdue
        </div>
        <div class="reference-item__excerpt">
          &ldquo;I'm a web professional, but Skylar showed me what a world-class web designer is. All around, he's a very talented and studious person&rdquo;
        </div>
        <div class="reference-item__full">
          <p>
            &ldquo;Skylar creates.
          </p>
          <p>Skylar creates beautifully, independently and well.</p>
          <p>I would employ or collaborate with Skylar again without hesitation. </p>
          <p>For such a talented web designer and developer, he's surprising easy-going. He's able to take advice and listen to the client, but also takes the initiative to get things done.</p>
          <p>I'm a web professional, but Skylar showed me what a world-class web designer is. All around, he's a very talented and studious person.&rdquo;</p>
        </div>
        <div class="reference-item__controls">
          <div class="reference-item__control reference-item__expand">
            READ MORE
          </div>
          <div class="reference-item__control reference-item__contract">
            COLLAPSE
          </div>
        </div>
      </div>
    </div>
    <div class="reference-item reference-item--contracted">
      <div class='reference-item__avatar'>
        <img src="/images/testimonials/jv.jpg" />
      </div>
      <div class="reference-item__body">
        <div class="reference-item__meta">
          Jeffrey Vitter - Purdue
        </div>
        <div class="reference-item__excerpt">
          &ldquo;Sklyar did a phenomenal job in reworking our web pages and adding necessary enhancements.&rdquo;
        </div>
        <div class="reference-item__full">
         <p>
          &ldquo;When I was dean of the College of Science at Purdue University, my IT group could not keep up with the growing demand of updating our web pages and creating a common look and feel. As a result we decided to hire Skylar Anderson, who at the time was a student at Purdue. Sklyar did a phenomenal job in reworking our web pages and adding necessary enhancements. He was extremely responsive and knowledgeable and played an important role in the College. I would hire him again in a heartbeat.&rdquo;
        </p>
        </div>
        <div class="reference-item__controls">
          <div class="reference-item__control reference-item__expand">
            READ MORE
          </div>
          <div class="reference-item__control reference-item__contract">
            COLLAPSE
          </div>
        </div>
      </div>
    </div>
    <div class="reference-item reference-item--contracted">
      <div class='reference-item__avatar'>
        <img src="/images/testimonials/cs.jpg" />
      </div>
      <div class="reference-item__body">
        <div class="reference-item__meta">
          Cameron Smith - Purdue
        </div>
        <div class="reference-item__excerpt">
          &ldquo;Skylar is truly amazing. His designs are pumped full of creativity that align well with the organization and he has no trouble working functional requirements into his process.&rdquo;
        </div>
        <div class="reference-item__full">
          <p>
            &ldquo;Skylar is truly amazing. His designs are pumped full of creativity that align well with the organization and he has no trouble working functional requirements into his process. Each time we went through a design review Skylar would bring a fresh design to us that would evoke real emotion as he knew exactly how to identify key missions of our organization and bring them to life on the web.
          </p>
          <p>
            As an employee, Skylar was nothing less than exceptional. He was constantly learning and driving us in new directions, he provided mentorship and oversight to younger designers, and he brought a real sense of urgency to each new task. He was punctual and attentive during meetings, and provided valuable insight of the design process to our non-technical staff. It was a pleasure to have the opportunity to work with Skylar and I would certainly be happy to hire him again in the future.&rdquo;
          </p>
        </div>
        <div class="reference-item__controls">
          <div class="reference-item__control reference-item__expand">
            READ MORE
          </div>
          <div class="reference-item__control reference-item__contract">
            COLLAPSE
          </div>
        </div>
      </div>
    </div>
  </div>
</article>


<h5>Education</h5>

<article>
  <h3>A.S. Computer Graphics Technology - Purdue University</h3>
  <h4>May 2008</h4>
</article>

<script type="text/javascript">

  var ReferenceItem = function(node) {
    this.expandedClass = 'reference-item--expanded';
    this.contractedClass = 'reference-item--contracted';
    this.node = node;
    this.node.classList.add(this.contractedClass);
    this.node.addEventListener('click', this.handleClick.bind(this))
  }

  ReferenceItem.prototype.handleClick = function() {
    var expand = { add: this.expandedClass, remove: this.contractedClass };
    var contract = { add: this.contractedClass, remove: this.expandedClass };
    var operations = this.node.classList.contains(this.expandedClass) ? contract : expand;
    var node = this.node;
    Object.keys(operations).forEach(function(operation) {
      var className = operations[operation];
      node.classList[operation](className);
    });
  }


  function onDomLoad() {
    document.querySelectorAll('.reference-item').forEach(function(referenceItemNode) {
      new ReferenceItem(referenceItemNode);
    });
  }

  document.addEventListener('DOMContentLoaded', onDomLoad, false);
</script>