<h5>Experience</h5>

<article>
  <header>
    <h3>Lead Designer, Lead Software Engineer, Product Lead, First Hire<span class="subdued">Aptible (YC S14)</span></h3>
    <h4>May 2014-Present</h4>
  </header>

  <p>
    Aptible is a Docker-based container orchestration platform and SaaS tool built to solve the technical and administrative aspects of complying with complex standards (ISO) or regulations (HIPAA).  As the first hire, I've helped provide leadership for all aspects of the company. As Lead Designer, I provide visual and UI designs for our products and our marketing site (<a href="https://www.aptible.com">www.aptible.com</a>).  As Lead Software Engineer and Product Lead, I lead a team of engineers and compliance experts helping to build Gridiron, our Information Security Management System (ISMS) SaaS offering.
  </p>

  <ul class="work-items">
    <li>
      Designed and developed learning management system capable of generating customer-specific training content based on thousands of customer attributes. This system is used to automate thousands of manual training courses and make proof-of-compliance fast and easy.
    </li>
    <li>
      Designed and developed NIST 800-30 risk assessment engine, capable of quantifying and prioritizing thousands of risks across hundreds of information assets. Built using JSON Schema, Ruby on Rails, and Ember.js.
    </li>
    <li>
      Designed elegant user interfaces that make Docker-based container orchestration simple and easy to understand.
    </li>
    <li>
      Lead design and engineering for SaaS product that makes managing a secure Information Security Management System (ISMS) fast and easy.
    </li>
    <li>
      Engineered system for schema-driven UI generation using custom-built Ember CLI add-ons that parse JSON Schema schemata into fully-validatable UI controls. This system is used to allow non-technical subject matter experts to expand the core data model without engineering effort.
    </li>
    <li>
      Designed and developed billing system for container orchestration PaaS, including metered/unit billing, subscription billing, and billing management dashboard using Stripe, Ruby on Rails, and Ember.js.
    </li>
  </ul>

  <div class="references">
    <div class="reference-item">
      <div class='reference-item__avatar'>

      </div>
      <div class="reference-item__body">
        <div class="reference-item__meta">
          <h3>Dustin McCormick</h3>
          <div class="reference-item__meta__date">SEPT 2014</div>
        </div>
        <div class="reference-item__excerpt">
          I saw high-quality output from him consistently, and he'd often surprise me with something completely groundbreaking that he'd whipped up on a whim.
        </div>
        <div class="reference-item__full">
          <p>
            Skylar trained me as part of my onboarding with ExactTarget and I went on to work with him closely over the next couple of years. As my trainer and peer, Skylar was always very approachable and has a knack for explaining complex systems in a comprehensible manner. As an engineer I collaborated with regularly across teams, Skylar was a skilled communicator. This made working with him almost effortless. As for his engineering chops, he's simply top notch. I saw high-quality output from him consistently, and he'd often surprise me with something completely groundbreaking that he'd whipped up on a whim.
          </p>
          <p>
            Between his personable, approachable demeanor and unmatched technical skills, I'd recommend Skylar for any role in technology.
          </p>
        </div>
      </div>
    </div>
  </div>
</article>

<article>
  <header>
    <h3>Lead Designer and Software Engineer <span class="subdued">Independent Consultant</span></h3>
    <h4>June 2010-May 2014</h4>
  </header>

  <p>
    For four years I ran an independent consultancy, Foundry Inc. While at Foundry Inc., I worked with big brands like Facebook, Eli Lilly, Salesforce, Intuit, and Oracle to design and ship world-class products.
  </p>

  <ul class="work-items">
    <li>
      Improved Facebook's sales process by designing and developing a drag-and-drop video-editing tool using Ember.js, Node.js, AWS S3, and the Facebook and Animoto APIs.
    </li>
    <li>
      Led visual and UX redesign of Compendium, a content marketing suite (now Oracle).
    </li>
    <li>
      Brought open source-like collaboration to pharmaceutical asset management at Eli Lilly by leading design and engineering of a git-based asset management system using Angular.js, Ruby, Sinatra, S3, and GitHub API.
    </li>
    <li>
      Helped Facebook feature their most popular brand pages by developing a user-contributed content site using Wordpress and PHP.
    </li>
    <li>
      Led frontend engineering for two Backbone.js-backed single page applications, helping Salesforce Marketing Cloud launch into the mobile marketing channel.
    </li>
    <li>
      Revitalized Intuit's Quicken 2011 desktop experience by improving the visual and UI design.
    </li>
  </ul>
</article>

<article>
  <header>
    <h3>Designer and Frontend Software Engineer <span class="subdued">Salesforce Marketing Cloud</span></h3>
    <h4>April 2009-June 2010</h4>
  </header>
  <ul class="work-items">
    <li>
      Gathered requirements, developed product vision, and led UI design for an enterprise SaaS product.
    </li>
    <li>
      Led UI design and development of Salesforce-based back office ticket system.
    </li>
    <li>
      Developed drag-and-drop in-browser document management system using jQuery, AJAX, and C#.
    </li>
  </ul>
</article>

<article>
  <header>
    <h3>Frontend Engineer <span class="subdued">GiveReal</span></h3>
    <h4>June 2008-February 2009</h4>
  </header>

  <ul class="work-items">
    <li>
      Designed and developed Facebook canvas app using Ruby on Rails, FBML, CSS, and Javascript.
    </li>
  </ul>
</article>


<h5>Education</h5>

<article>
  <h3>A.S. Computer Graphics Technology - Purdue University</h3>
  <h4>May 2008</h4>
</article>