---
title: Skylar Anderson
---
<div class="intro">
  <h1>Hi, I’m Skylar.</h1>
  <h2>
    I'm a designer, engineer, and product leader with over 10 years experience designing and building software for desktop, web, and mobile.
  </h2>

  <a class="download-button" href="/images/Skylar-Anderson-2018-Resume.pdf" download onclick="ga('send', 'event', { eventCategory: 'Download', eventAction: 'click', eventLabel: 'Resume' });">
    ↓ Download Resume
  </a>
  <a class="download-button" href="/images/Skylar-Anderson-2018-Design.zip" download onclick="ga('send', 'event', { eventCategory: 'Download', eventAction: 'click', eventLabel: 'Design' });">
    ↓ Download Design Package
  </a>
</div>

<%= partial 'resume' %>