---
title: Skylar Anderson
---
<div class="intro">
  <h1>Hi, I’m Skylar.</h1>
  <h2>
    I'm a product designer and software engineer with over 10 years of experience shipping innovative software.
  </h2>

  <a class="download-button" href="/images/Skylar-Anderson-2019-Resume.pdf" download onclick="ga('send', 'event', { eventCategory: 'Download', eventAction: 'click', eventLabel: 'Resume' });">
    ↓ Download Resume
  </a>
  <a class="download-button" href="/images/Skylar-Anderson-2019-Design.zip" download onclick="ga('send', 'event', { eventCategory: 'Download', eventAction: 'click', eventLabel: 'Design' });">
    ↓ Download Design Package
  </a>
</div>

<%= partial 'resume' %>