---
title: Skylar Anderson
---
<div class="intro">
  <h1>Hi, I’m Skylar.</h1>
  <h2>I have 8 years experience designing and developing beautiful and thoughtful software for desktop, web, and mobile.  I focus primarily on the frontend with Javascript and Ember.js, but have extensive experience with Ruby on Rails and Node.js.</h2>

  <a class="download-button" href="/images/SkylarAnderson2016Resume.pdf" target="_blank">↓ Download Resume</a>
</div>

<%= partial 'resume' %>